/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.main-background {
  margin-top: 2%;
  min-height: 750px;
}
.font-logo {
  font-family: 'Exo', sans-serif;
}

/*///////////////////////// DASHBOARD STYLING ///////////////////////////////////*/

.dashboard-background {
  background-color: #4e4e4e;
  /* opacity: 30%; */
}

.dashboard-nav {
  /*height: 81.3vh; */
  background-color: #f1edee;
}

.dashboard-mobilenav {
  background-color: #f1edee;
}

/* ! pagination abstraction (class names in that file are ugly) */

@layer components {
  .pagination {
    @apply flex py-3 mt-5 list-none bg-gray-200 cursor-pointer;
  }
  .pagination__link:not(.pagination__link--active) {
    @apply px-3 py-2 mx-2 font-bold text-black rounded-sm hover:bg-green-600 hover:opacity-75;
  }

  .pagination__link--active {
    @apply px-3 py-2 mx-2 font-bold text-white bg-green-800 rounded-sm;
  }
  .pagination__link--disabled a {
    @apply text-gray-500 cursor-not-allowed;
  }
  .pagination__word {
    @apply px-3 py-2 mx-2;
  }
  .pagination__word:not(.pagination__link--disabled a) {
    @apply hover:bg-gray-400;
  }
}
