/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.main-background {
  margin-top: 2%;
  min-height: 750px;
}
.logo {
  font-family: 'Exo', sans-serif;
}

/*///////////////////////// DASHBOARD STYLING ///////////////////////////////////*/

.dashboard-background {
  background-color: #4e4e4e;
  /* opacity: 30%; */
}

.dashboard-nav {
  /*height: 81.3vh; */
  background-color: #f1edee;
}

.dashboard-mobilenav {
  background-color: #f1edee;
}

/*///////////////////////// FOOTER STYLING //////////////////////////////////////*/
.footer-logo {
  margin-top: 3%;
}

.footer-ulTitle {
  margin-top: 5%;
}
.footer-li {
  margin-top: 2%;
}

.footer-background {
  padding-left: 5%;
  padding-bottom: 5%;
}

/*///////////////////////// ENTIRE PAGE STYLING ///////////////////////////////////*/
