/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.login-background{
   margin-top: 2%;
   min-height: 750px;
}
.logo {
    font-family: 'Exo', sans-serif;

}



/*///////////////////////// DASHBOARD STYLING ///////////////////////////////////*/


.dashboard-background {

background-color: #686963;
opacity: 30%;

}


.dashboard-nav {
    background-color: #F1EDEE;
}



/*///////////////////////// FOOTER STYLING //////////////////////////////////////*/
.footer-logo {

margin-top: 2%;

}

.footer-ulTitle {

margin-top: 5%;

}
.footer-li {

margin-top: 2%;

}

.footer-background {
padding-left: 5%;
padding-bottom: 5%;
    
}