/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.login-background{
  margin-top: 2%;
   min-height: 750px;
}
.footer-logo {

margin-top: 2%;

}

.footer-ulTitle {

margin-top: 5%;

}
.footer-li {

margin-top: 2%;

}

.footer-background {

padding-bottom: 5%;
    
}